In [1]:
#Importing required modules 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, median_absolute_error

In [2]:
#Loading required file 
data=pd.read_csv('time.csv')

In [3]:
data=data.dropna()    #droping null values 
data = data.reset_index(drop=True)

In [4]:
print(data['time'].describe())

count                           1849
unique                          1134
top       2022-09-11 14:45:07.799999
freq                               3
Name: time, dtype: object

In [5]:
# Convert 'gameClock' to datetime
data['gameClock'] = pd.to_datetime(data['gameClock'], format='%M:%S')

# Convert datetime to seconds (or milliseconds)
data['gameClock_seconds'] = data['gameClock'].dt.second + data['gameClock'].dt.minute * 60
# # If you want milliseconds, multiply by 1000
# df['gameClock_milliseconds'] = df['gameClock_seconds'] * 1000

In [6]:
data = data.drop('height', axis=1)    #dropping irrelevant fetures 
data = data.drop('gameClock', axis=1)

In [7]:
# Convert 'time' to datetime
data['time'] = pd.to_datetime(data['time'], format='%Y-%m-%d %H:%M:%S.%f')

# Convert datetime to numerical format (seconds)
data['time_seconds'] = data['time'].dt.minute * 60 + data['time'].dt.second + data['time'].dt.microsecond / 1e6

In [8]:
label_encoder = LabelEncoder()
# Fit and transform the categorical column
data['position'] = label_encoder.fit_transform(data['position'])
data['passResult'] = label_encoder.fit_transform(data['passResult'])

In [9]:
data

,quarter,down,yardsToGo,absoluteYardlineNumber,weight,position,playResult,passResult,penaltyYards,x,y,time,gameClock_seconds,time_seconds
0,2,3,13,47,318.0,1,39,0,15.0,44.39,25.35,2022-09-11 14:31:05.400000,77,1865.400000
1,2,3,13,47,318.0,1,39,0,15.0,44.31,25.46,2022-09-11 14:31:05.500000,77,1865.500000
2,2,3,13,47,318.0,1,39,0,15.0,44.24,25.57,2022-09-11 14:31:05.599999,77,1865.599999
3,2,3,13,47,318.0,1,39,0,15.0,44.19,25.68,2022-09-11 14:31:05.700000,77,1865.700000
4,2,3,13,47,318.0,1,39,0,15.0,44.18,25.80,2022-09-11 14:31:05.799999,77,1865.799999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1844,1,1,10,62,248.0,5,20,0,15.0,58.40,2.59,2022-09-08 20:44:55.799999,113,2695.799999
1845,1,1,10,62,248.0,5,20,0,15.0,58.29,2.28,2022-09-08 20:44:55.900000,113,2695.900000
1846,1,1,10,62,248.0,5,20,0,15.0,58.19,2.03,2022-09-08 20:44:56.000000,113,2696.000000
1847,1,1,10,62,248.0,5,20,0,15.0,58.12,1.84,2022-09-08 20:44:56.099999,113,2696.099999
1848,1,1,10,62,248.0,5,20,0,15.0,58.06,1.69,2022-09-08 20:44:56.200000,113,2696.200000

In [10]:
df=data.copy()

In [11]:
x=df.iloc[:,0:11]
x['gameClock_seconds']=df.iloc[:,-2]     #fetching features and target variables 
y=df.iloc[:,-1]

In [14]:
scaler=StandardScaler()
x = scaler.fit_transform(x)      #standard scaling of X & Y 
y = y.values.reshape(-1, 1)
y = scaler.fit_transform(y)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, shuffle=True)

# Train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
predictions = model.predict(X_test)

In [17]:
# checking error values
mae = mean_absolute_error(y_test, predictions)
print(f'Mean Absolute Error: {mae}')
mse = mean_squared_error(y_test, predictions)
print(f'Mean Square Error: {mse}')
rmse = np.sqrt(mse)
print(f'Root Mean Square Error: {rmse}')
r2 = r2_score(y_test, predictions)
print(f'R2 score: {r2}')
medae = median_absolute_error(y_test, predictions)
print(f'Median Absolute Error: {medae}')

Mean Absolute Error: 0.6332007864805634
Mean Square Error: 0.6352886086934597
Root Mean Square Error: 0.7970499411539153
R2 score: 0.40024250033181086
Median Absolute Error: 0.5583645770030239